body{
    background: linear-gradient(to right, rgb(27, 151, 157), rgb(11, 80, 114)), rgb(61, 155, 243);
}
.warp{
    width: 40%;
    margin: auto;
    border-radius: 10px;
    font-family: comic sans ms;
    background-color: rgb(162, 213, 255);
}
.container{
    padding: 5px;
    margin: 10%;
}
h1{
    text-align: center;
}
table{
    margin: auto;
    padding-bottom: 5px;
}
table td{
    padding: 5px;
}
button{
    width: 50px;
    font-family: comic sans ms;
    height: 30px;
    background-color: rgb(36, 41, 172);
    border-radius: 7px;
}